.hide {
    display: none;
}

.module-login-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
}

.module-login-mask .pr {
    position: relative;
}

.module-login-mask a {
    color: #369;
}

.module-login-mask input:focus {
    background: white;
}

.module-login-mask a:hover {
    text-decoration: underline;
}

.module-login-container {
    height: 375px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -188px;
}

.module-login-container .header {
    background: #e7ecf2;
    padding: 0px 10px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #abb6d2;
    position: relative;
}

.box-register {
    position: relative;
    width: 350px;
    z-index: 100;
    padding-left: 350px;
    margin: auto;
    height: 375px;
    border-radius: 0 5px 5px 0;
}

.box-login {
    position: absolute;
    width: 350px;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 5px 0 0 5px;
}

.body-register, .body-login {
    background: white;
    height: 345px;
    width: 350px;
}

.body-register {
    border-left: 1px dotted #808080;
    margin-left: -1px;
}

.tab-box {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #abb6d2;
    cursor: pointer;
}

.tab-box span:hover {
    color: #6AA1EA;
}

.tab-box .active {
    color: #2559a4 !important;
    cursor: default;
}

.box-mobilelogin, .box-emaillogin,.box-idlogin, .box-btn, .box-register-mobile, .box-register-email,.box-register-detail {
    position: relative;
    padding: 0 70px;
}

.box-mobilelogin div,.box-emaillogin div ,.box-idlogin div, .box-register-mobile div, .box-register-email div,.box-register-detail div {
    position: relative;
    margin-bottom: 15px;
}

.box-mobilelogin select,.box-emaillogin select ,.box-register-mobile select, .box-register-email select,.box-register-detail select {
    width: 100%;
    padding: 5px 2px;
    border: 1px solid #CDDDEF;
}

.box-mobilelogin input,.box-emaillogin input ,.box-idlogin input, .box-register-mobile input, .box-register-email input,.box-register-detail input {
    width: 196px;
    padding: 6px;
    border: 1px solid #CDDDEF;
    font-weight: bold;
}

.box-register-detail input[type="radio"] {
    width: auto;
    margin-left: 5px;
    vertical-align: -2px;
    border: none;
}

.box-register-detail textarea {
    width: 198px;
    height: 50px;
    resize: none;
    padding: 5px;
}

.box-btn .keeplogin {
    width: auto;
    margin: 0;
    vertical-align: -2px;
}

.box-btn .fgtpwd {
    position: absolute;
    right: 0px;
    top: 0px;
}

.box-register .btn {

    text-align: center;
    cursor: pointer;
}

.box-register .btn-disable, .box-register .btn-disable:hover {
    cursor: not-allowed;
    background: #a3a3a1 !important;
}

.box-register .btn-close {
    cursor: pointer;
}

.step-box {
    text-align: center;
    padding: 20px 0;
    color: #abb6d2;
    font-size: 14px;
}

.step-box .step {
}

.step-box .step-active {
    color: #2559a4;
}

.box-register-mobile .btn-getcode {
    width: 60px;
    display: inline-block;
    padding: 6px 5px;
    font-size: 12px;
    margin: 0px;
    background: #015e98;
    color: white;
    border-radius: 5px;
}

.box-register-email .btn-getcode {
    width: 60px;
    display: inline-block;
    padding: 6px 5px;
    font-size: 12px;
    margin: 0px;
    background: #015e98;
    color: white;
    border-radius: 5px;
}


.box-register-mobile .btn-getcode:hover {
    background-color: #087bb5;
}

.box-register-email .btn-getcode:hover {
    background-color: #087bb5;
}

.box-register .err-msg {
    position: absolute;
    top: -16px;
    left: 70px;
    color: #F60;
}