{% extends 'myCRM/index.html' %}
{% load static %}

{% block page_content %}
    <form method="post">
        <div style="color:red;">{{ enroll_form.errors }}</div>
        {% for field in enroll_form %}
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-md-6">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-md-8">
                <span>发送此链接给学员:{{ message.msg }}</span>
                <button type="submit" class="btn btn-success pull-right">下一步</button>
            </div>
        </div>
    </form>
{% endblock %}